.searchBar {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  outline: 0;
  border: 0;
  box-shadow: 0 0 2px gray;
  transition: 0.3s;
}

.searchBar:focus {
  box-shadow: 0 0 0.5rem gray;
}

.searchButton {
  padding: 0.5rem 16px;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
}

.listItem {
  padding: 0.5rem 0;
  text-shadow: 0 0 1rem gray;
  transition: 0.4s;
}

.listItem:hover {
  text-decoration: line-through;
  font-size: 2rem;
}
